@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --radius-sm:;
  --color-background:;
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

.hand{
    position: absolute;
    transform: rotate(0deg);
    animation: wave 2s infinite;
    transform-origin: bottom center;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

html{
  scroll-behavior:smooth ;
}